body {
    background-color: #2F2F2F;
    color: #FFFFFF;
    text-align: justify;
    font-size: 15pt;
    font-family: "BreezeSans";
}
hr {
    color: #575757;
}
p {
    margin: 15px;
    font-size: 7.5pt;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
table {
    font-size: 9.375pt;
    width: 100%;
    border: 5px solid #2E2E2E;
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-family: "Fredoka";
    text-align: center;
    border-radius: 10px;
    border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: #1E1E1E;
}
.aboutod {
    background-color: #2E2E2E;
    border: 2px solid #1E1E1E;
    color: #E0DDEE;
}
#title {
    color: #E0DDEE;
}
@font-face {
    font-family: "BreezeSans";
    src: url(fonts/BreezeSans.ttf);
}
@font-face {
    font-family: "Fredoka";
    src: url(fonts/fredoka.ttf);
}
.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
